#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 1px;
  background-color: #333;
  width: fit-content;

}

.cell {
  background-color: #fff;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}